/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

body {
  margin: 0;
  text-align: center;
  font-family: arial;
}

.btn {
  background: black;
  background-image: -webkit-linear-gradient(top, black, black);
  background-image: -moz-linear-gradient(top, black, black);
  background-image: -ms-linear-gradient(top, black, black);
  background-image: -o-linear-gradient(top, black, black);
  background-image: linear-gradient(to bottom, black, black);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 20px;
}

.btn:hover {
  background: black;
  background-image: -webkit-linear-gradient(top, black, black);
  background-image: -moz-linear-gradient(top, black, black);
  background-image: -ms-linear-gradient(top, black, black);
  background-image: -o-linear-gradient(top, black, black);
  background-image: linear-gradient(to bottom, black, black);
  text-decoration: none;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.footer {
  background-color: black;
  padding: 50px 0 20px;
  margin: 70px auto 0 auto;
}

.profile-pic{
  width:30%;
}

.contact-message {
  color: black;
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

p {
  line-height: 2;
}

a{
  color: white;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.website {
  color: black;
  text-decoration: underline;
}

.code-image {
  width: 100%;
  margin: 65px auto;
}
